@import 'tailwindcss';

:root {
  --font-sora: 'Sora', sans-serif;
  --font-code: 'Source Code Pro', monospace;
  --font-grotesk: 'Space Grotesk', sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}
